table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin: 20px auto;
    float: none;
}

.input {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.affix {
      top: 0;
      width: 100%;
  }